/*
 * © 2020-2025 JustWhatever. All rights reserved.
 *  Property of Gavin Abu-Zahra. Do not reproduce or distribute without explicit permission.
 */

.technolagy {
  display: flex;
  width: min-content;
  padding: 6px;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  background: #323232;
}
.technolagy > svg {
  width: 24px;
  height: 24px;
  color: white;
}
.technolagy > span {
  color: #ffffff;
  text-align: center;
  font-family: Rubik;
  font-size: 8px;
  font-weight: 600;
}