/*
 * © 2020-2025 JustWhatever. All rights reserved.
 *  Property of Gavin Abu-Zahra. Do not reproduce or distribute without explicit permission.
 */

.contact {
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background: #E2E2E2;
}

.contact > * {
  font-family: Figtree;
  color: #000000;
  text-align: center;
}

.contact > h2 {
  font-size: 18px;
  font-weight: 700;
}

.contact > a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: 500ms;
}

.contact > a:hover {
  color: #2E4AFF;
  text-decoration: underline;
}

.footer {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background: #E2E2E2;
}

.footer > * {
  color: #000;
  text-align: center;
  font-family: Figtree;
  font-size: 12px;
}