/*
 * © 2020-2025 JustWhatever. All rights reserved.
 *  Property of Gavin Abu-Zahra. Do not reproduce or distribute without explicit permission.
 */

.landingpagecontainer {
  position: sticky;
  height: 100vh;
}

.landingpage {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #212121;
  overflow: hidden;
}

.landingpage .noise {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  opacity: 1;
}

.shapes > * {
  position: absolute;
  z-index: 1;
  filter: blur(6vw);
}

.shapes > .redShape {
  width: 20vw;
  left: calc(50% + 20vw);
  top: calc(50% - 25vw);
}

.shapes > .blueShape {
  width: 18vw;
  left: calc(50% + 20vw);
  top: calc(50% - 16vw);
}

.shapes > .greenShape {
  width: 35vw;
  left: calc(50% - 50vw);
  top: calc(50% - 5vw);
}

.shapes > .pinkShape {
  width: 28vw;
  left: calc(50% - 40vw);
  top: calc(50% + 10vw);
}


h1.intro {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Figtree;
  color: #ffffff;
  font-size: clamp(12px,6vw,72px);
  font-weight: 700;
  text-align: center;
  transition: 250ms;
}

.cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

span.subtitle {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: calc(50% + clamp(12px,6vw,72px) - 1vw);
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-family: Figtree;
  font-size: clamp(8px, 1.25vw, 24vw);
  font-weight: 400;
  opacity: 0;
  transition: 750ms;
}

span.subtitle[data-visible="true"] {
  opacity: 1;
}

.downarrow {
  position: absolute;
  left: 50%;
  bottom: clamp(4px, 8vw, 32px);
  transform: translate(-50%, 0);
  z-index: 3;
  opacity: 0;
  transition: 750ms;
}

.downarrow[data-visible="true"] {
  opacity: 1;
}