/*
 * © 2020-2025 JustWhatever. All rights reserved.
 *  Property of Gavin Abu-Zahra. Do not reproduce or distribute without explicit permission.
 */

@keyframes appear {
  0% {
    opacity: 0.25;
  }
  15% {
    opacity: 1;
  }
}

.socials {
  display: flex;
  padding: 10px 0;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  background: #F2F2F2;
  animation: appear linear;
  animation-timeline: view();
}

.socials > a {
  color: black;
}

.socials > a > i {
  width: 42px;
  height: 42px;
}